body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: lightslategray;
    position: relative;


}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
